.App-header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 3rem;
    color: white;
  }
  
  .App-header .icon {
    display: flex;
    margin: 6px;
    padding: 0.5vw;
    border-radius: 0.3vw;
  }
  
  .App-header a {
    text-decoration: none;
    color: white;
  }

  .App-header .icon img {
    width: 3rem;
  }
  
  .App-header .icon h6 {
    margin: auto;
  }
  