@import './index.css';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App .App-content {
  display: flex;
  justify-content: center;
}

.App .App-content .App-tasks-list ul {
  list-style-type: none;
}

.App .App-content .App-tasks-list ul li {
  margin: 1rem;
}

.App .App-content .App-tasks-list ul li::marker {
  display: none;
}

.App .App-content .App-tasks-list .element{
  margin: 0;
  padding: 0.6rem;
  border-radius: 0.3vw;
  text-align: center;
  text-decoration: none;
  color: black;
}

.App .App-content .App-tasks-list .element:hover {
  background-color: var(--primary);
  color: ghostwhite;
}
