@import './assets/variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* container for all components */

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------- Custom elements --------------------------------- */


h1, h2, h3 {
  color: var(--primary);
}

p, label {
  color: var(--secondary);
}

hr {
  border: 1px solid var(--almostWhite);
  width: 70%;  
}

.btn {
  padding: 0.5rem 1.5rem;
}

.submit-btn {
  background-color: var(--submit);
  border: 1px solid var(--submit);
  color: white;
  border-radius: 0.3vw;
}

.submit-basic-btn {
  background-color: var(--almostWhite);
  border: 1px solid var(--submit);
  color: var(--submit);
  border-radius: 0.3vw;
}

.btn:hover {
  cursor: pointer;
}

.btn-icon {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  height: 2rem;
  border: 2px solid var(--primary);
  border-radius: 0.3rem;
} 

.btn-icon:hover {
  background-color: var(--almostWhite);
}

.play {
  background-image: url('./assets/play-circle-regular.svg');
}

.stop {
  background-image: url('./assets/stop-circle-regular.svg');
}
